
<!-- Heredar de base -->
{% extends 'base/base.html' %}

<!-- Cargar archivos estaticos -->
{% load static %}

<!-- Bloque css -->
{% block css%}
<link rel="stylesheet" href="{% static 'manage_post/categories/css/article_category.css' %}">
{% endblock css%}

<!-- Bloque titulo -->
{% block title %} {{ category.name }} {% endblock title %}

<!-- Bloque contenido -->
{% block content %}

<!-- Navbar category -->
{% include 'manage_post/navbar_category.html' %}
<div class="text-primary">
    <h2>{{ category.name|upper }}</h2>
</div>

<div class="article-container">
    <!-- Listar articulos -->
     {% for article in articles %}
    <article class="article">
        <!-- Imagen del articulo -->
        <img src="{{ article.image.url }}" class="img">
        <div class="card-body">
            <!-- Identificador del articulo -->
            <a href="{% url 'post' article.slug %} ">
                <h2 class="title">{{ article.title|truncatewords:13 }}</h2>
            </a>
            <p class="introduction">{{ article.introducción|truncatewords:25 }}</p>
        </div>
    </article>
    {% endfor %}
</div>
{% endblock content %}
