<!-- Cargar archivos estáticos -->
{% load static %}

{% block css %}
<link href="{% static 'user/css/style_user.css'%}" rel="stylesheet" type="text/css">
{% endblock css %}

<header class="header">
    <div class="menu">
        <div class="logo">
            <!--Logo-->
            <a href="{% url 'index' %}"><img src="{% static 'base/image/Logo/abc_company.png' %}" alt="Logo" /></a>
        </div>
        <nav class="nav">
            {% if request.user.is_authenticated %}
            <ul class="profile">
                <li>
                    <!-- Imagen del usuario -->
                    <a href="{% url 'view_profile' request.user.pk %}" class="profile-image-name" title="Ver perfil">
                        {% if request.user.profile %}
                        <img src="{{ user.profile.photo.url }}" alt="Profile" class="img-profile" />
                        {% else %}
                        <img src="{% static 'base/image/Default/default-user.png' %}" alt="Profile" class="img-profile" />
                        {% endif %}
                        <span class="name-user">{{ user.full_name }}</span>
                    </a>
                </li>

                
                <!-- Verificar si el usuario es staff -->
                {% if request.user.is_staff == True %}
                <li>
                    <a href="{% url 'admin:index' %}" class="btn-admin">Ir al admin</a>
                </li>
                
                <!-- Botón de editar perfil -->
                <li>
                    <a href="{% url 'edit_profile' %}" class="btn-edit-profile">Editar perfil</a>
                </li>
                <!-- Botón de salir -->
                <li>
                    <form action="/user/logout/" method="POST">
                        <button type="submit" class="btn-edit-profile">Salir</button>
                        {% csrf_token %}
                    </form>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'edit_profile' %}" class="btn-edit-profile">Editar perfil</a>
                </li>
                <!-- Botón de salir -->
                <li>
                    <form action="/user/logout/" method="POST">
                        <button type="submit" class="btn-edit-profile">Salir</button>
                        {% csrf_token %}
                    </form>
                    <!--a href="{% url 'logout' %}" class="btn-edit-profile">Salir--</a-->
                </li>
                {% endif %}
            </ul>
            {% else %}
            <ul>
                <li>
                    {% url 'login' as url_login %}
                    {% url 'register' as url_register %}
                    {% if request.path == url_register %}
                    <a href="{% url 'login' %}" class="login">Iniciar sesión</a>

                    {% elif request.path == url_login %}
                    <a href="{% url 'register' %}" class="create">Crear cuenta</a>

                    {% else %}
                    <a href="{% url 'login' %}" class="login">Iniciar sesión</a>
                    <a href="{% url 'register' %}" class="create">Crear cuenta</a>

                    {% endif %}
                </li>
            </ul>
            {% endif %}
        </nav>
    </div>
</header>