
<!-- Heredar de base -->
{% extends 'base/base.html' %}

<!-- Cargar archivos estaticos -->
{% load static %}

<!-- Bloque css -->
{% block css %}
<link rel="stylesheet" href="{% static 'user/css/style_user.css' %}">
{% endblock css %}

<!-- Bloque titulo -->
{% block title %} Restablecer Contraseña {% endblock title %}

<!-- Bloque contenido -->
{% block content %}

<div class="text-center">\
    <h3>!La contraseña ha sido cambiada¡</h3>
    <!-- Redirigir al login -->
    <a class="btn-back" href="{% url 'login' %}">Iniciar Sesión</a>
</div>
{% endblock content %}