
<!-- Heredar de base -->
{% extends 'base/base.html' %}

<!-- Cargar archivos estaticos -->
{% load static %}

<!-- Bloque css -->
{% block css %}
<link rel="stylesheet" href="{% static 'user/css/style_user.css' %}">
{% endblock css %}

<!-- Bloque titulo -->
{% block title %} Restablecer Contraseña {% endblock title %}

<!-- Bloque contenido -->
{% block content %}

<div class="form-content">
    
    <form method="post" class="form-general reset-password">
        <h2 class="text-reset_password">Restablecer contraseña</h2>
        <p class="alert-send">Escribe tu correo electronico y te enviaremos las instrucciones para restablecer tu contraseña</p>

        <!-- Agregar token -->
        {% csrf_token %}

        <!-- Mostrar campo de correo electronico -->
        {% for field in form %}

        <div class="form-field">
            {{ field }}
        </div>

        {% endfor %}

        <input type="submit" value="Enviar" class="btn-submit btn-send">
    </form>
</div>
{% endblock content %}